body {
    padding: 20px;
}

div.wiki-content thead
{
    background-color:#F0F0F0;
}

#div.wiki-content p { margin: inherit  ; }

div.wiki-content table {
    border-collapse: collapse;
    border:1px solid #CCCCCC;
}

div.wiki-content th {
    border:1px solid #CCCCCC;
    padding: 0.5em ;
}

div.wiki-content td {
    border:1px solid #CCCCCC;
    padding: 0.5em ;
}

.wiki-content a {
  font-weight:bold;
}

.wiki-content a:hover {
  text-decoration:underline;
}

div.copyright_footer {
  font-family: Verdana, arial, sans-serif;
  font-size: 10px;
  text-align:center;
  color: #a0a0a0;
}

/* ====================================================== */
/*  Rounded Box Styles */
/* ====================================================== */
//div.white_box div.header   {background: transparent url("../images/white-header-top.png") repeat-x 0pt;}
//div.white_box div.header_l {background: transparent url("../images/white-header-left.png") no-repeat 0pt;}
//div.white_box div.header_r {background: transparent url("../images/white-header-right.png") no-repeat 100% 0pt;}
div.white_box div.header_r {height: 18px;}

div.white_box div.content   {background: #ffffff; } 
//div.white_box div.content_l {background: transparent url("../images/content-left.png") repeat-y 0pt;}
//div.white_box div.content_r {background: transparent url("../images/content-right.png") repeat-y 100% 0pt;}
div.white_box div.content_r {padding-left: 6px; padding-right: 9px;}

//div.white_box div.footer {background: transparent url("../images/white-footer-bottom.png") repeat-x 0pt;}
//div.white_box div.footer_l {background: transparent url("../images/white-footer-left.png") no-repeat 0pt;}
//div.white_box div.footer_r {background: transparent url("../images/white-footer-right.png") no-repeat 100% 0pt;}
div.white_box div.footer_r {color: #ffffff; height:37px; padding:0px;}
div.white_box div.footer_r {padding-left: 6px;padding-right: 9px;}

//div.black_box div.footer {background: transparent url("../images/black-footer-bottom.png") repeat-x 0pt;}
//div.black_box div.footer_l {background: transparent url("../images/black-footer-left.png") no-repeat 0pt;}
//div.black_box div.footer_r {background: transparent url("../images/black-footer-right.png") no-repeat right bottom;}
div.black_box div.footer_r {color: #ffffff; height:37; padding:0px;}
div.black_box div.footer_r {padding-left: 6px;padding-right: 9px;}

/* ====================================================== */
/*  Logo Positioning */
/* ====================================================== */
div#header_background{background: #294563; }

/* ====================================================== */
/*  Top and Bottom Bar Styling */
/* ====================================================== */
div.top_red_bar {
//  background: transparent url("../images/top-red-bar.png") repeat 0pt; 
  background: transparent repeat 0pt; 
  overflow: hidden;
}
div.bottom_red_bar {
//  background: transparent url("../images/bottom-red-bar.png") repeat 0pt; height: 11px;
  background: transparent repeat 0pt; height: 11px;
  overflow: hidden;
}


div#searchbox {
    right: 10px;
    height: 42px;
    font-size: 70%;
    white-space: nowrap;
    text-align: right;
    color: white;
    z-index:0;
//    background-image: url(images/rc-t-l-5-1header-2searchbox-3searchbox.png);
    background-repeat: no-repeat;
    background-position: top left;
    bottom: -1px; /* compensate for IE rendering issue */
}

div#searchbox form {
    padding: 5px 10px;
    margin: 0;
}
div#searchbox p {
    padding: 0 0 2px 0;
    margin: 0;
}
div#searchbox input {
    font-size: 100%;
}

div#site-breadcrumbs {
  margin: 0px;
  padding: 0px;
  float:left;
  padding: 2px;
  padding-left: 20px;
}
div#site-quicklinks {
  margin: 0px;
  padding: 2px;
  padding-right: 20px;
}
div#site-quicklinks p {
  text-align: right;
  padding: 0px; 
  margin: 0px;
}

div#site-quicklinks, div#site-breadcrumbs, div#site-quicklinks p, div#site-breadcrumbs p,
div#site-quicklinks a:link, div#site-quicklinks a:visited,
div#site-breadcrumbs a:link, div#site-breadcrumbs a:visited {
  font-family: Verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: bold;	
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}
div#site-quicklinks a:active, div#site-quicklinks a:hover,
div#site-breadcrumbs a:active, div#site-breadcrumbs a:hover {
  font-family: Verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: bold;	
  line-height: 13px;
  color: #c0c0c0;
  text-decoration: underline;
}
div#site-quicklinks sup img {
  height: 0px;
  width: 0px;
}

/* ====================================================== */
/*  Navigation Styling */
/* ====================================================== */
div.navigation {background: #ffffff repeat-y left 0pt; width:200px;}
div.navigation_top {background: transparent no-repeat left top;} 
div.navigation_bottom {background: transparent no-repeat left bottom;}
div.navigation_bottom {padding-left: 5px;padding-right:11px; padding-top:17px; padding-bottom:17px;}

/* div.navigation {float:right;} */
div.navigation_bottom ol, 
div.navigation_bottom ul, 
div.navigation_bottom {
  font-family: Verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: bold;	
  line-height: 13px;
  text-align: left;
  padding-left: 11px;
}

div.navigation {
  text-align: left;
  clear: left;
}

div.navigation li {
	list-style-type: square ;
}

div.navigation h3, 
div.navigation h3 a:link, div.navigation h3 a:visited, div.navigation h3 a:active, div.navigation h3 a:hover { 
  font-family: Verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: bold;	
  line-height: 120%;

  border: none;
  font-size: 15px; 
  text-decoration: none;
  color: #660033;
  margin:5px;
}

Xdiv.navigation Xh3 {
  background: no-repeat 0pt;
  background-position:left center;
  margin-left:15px;
  padding-left: 20px;
}

div.navigation a:link, div.navigation a:visited, div.navigation a:active, div.navigation a:hover {
  text-decoration: none;
  color: #000000;
}
div.navigation a:active, div.navigation a:hover {
  text-decoration: underline;
  color: #880055;
}

div.navigation ul {
  padding-left: 25px;
  list-style: none; 
  padding-bottom: 10px;
  border-bottom:1px solid #CACACA;
  margin: 0px;
  margin-left: 10px;
  margin-bottom: 10px;
}

div.navigation_bottom div { 
  margin-left:10px;
  padding-left:25px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom:1px solid #CACACA;
}

div.navigation img {
  margin-left:15px;
  padding-left: 20px;
}

div.navigation sup img { height: 0px; width: 0px; }

/* ====================================================== */
/*  Footer Styling */
/* ====================================================== */
div.black_box div.footer_r div {
  font-family: Verdana, arial, sans-serif;
  font-size: 10px;
  font-weight: normal;	
  line-height: normal;
  padding:5px;
  padding-left:20px;
}

div.design_attribution, div.design_attribution a {
  font-family: Verdana, arial, sans-serif;
  font-size: 10px;
  text-align:center;
  color: #a0a0a0;
}

/* ====================================================== */
/*  Rounded Box Styling  */
/* ====================================================== */

div.warning {
  /*
  font-family: Verdana, arial, sans-serif;
  */
  background: #FFCCCC; 
  margin-right:20px;
} 

