#  Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at

#     http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# ZooKeeper Node specific services

define service {
    hostgroup_name  zookeeper-servers
    use generic-service
    service_description ZK_Open_File_Descriptors_Count
    check_command check_zk_node!zk_open_file_descriptor_count!500!800
}

define service {
    hostgroup_name zookeeper-servers
    use generic-service
    service_description ZK_Ephemerals_Count
    check_command check_zk_node!zk_ephemerals_count!10000!100000
}

define service {
    hostgroup_name zookeeper-servers
    use generic-service
    service_description ZK_Avg_Latency
    check_command check_zk_node!zk_avg_latency!500!1000
}

define service {
    hostgroup_name zookeeper-servers
    use generic-service
    service_description ZK_Max_Latency
    check_command check_zk_node!zk_max_latency!1000!2000
}

define service {
    hostgroup_name zookeeper-servers
    use generic-service
    service_description ZK_Min_Latency
    check_command check_zk_node!zk_min_latency!500!1000
}

define service {
    hostgroup_name zookeeper-servers
    use generic-service
    service_description ZK_Outstanding_Requests
    check_command check_zk_node!zk_outstanding_requests!20!50
}

define service {
    hostgroup_name zookeeper-servers
    use generic-service
    service_description ZK_Watch_Count
    check_command check_zk_node!zk_watch_count!100!500
}

