<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnetcore" value="https://www.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="dotnetcorerel" value="https://www.myget.org/F/dotnet-core-rel/api/v3/index.json" />
	  <add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/api/v3/index.json" />
    <add key="dotnet-buildtools" value="https://www.myget.org/F/dotnet-buildtools/" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="AspNetCIDev" value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />
	<add key="AspNetCIRel" value="https://www.myget.org/F/aspnetcirelease/api/v3/index.json" />
  </packageSources>
</configuration>