<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="ZooKeeper Rules" Description="ZooKeeper Rules" ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1008" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1024" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1032" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1060" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1400" Action="None" />
    <Rule Id="CA1401" Action="None" />
    <Rule Id="CA1402" Action="None" />
    <Rule Id="CA1403" Action="None" />
    <Rule Id="CA1404" Action="None" />
    <Rule Id="CA1405" Action="None" />
    <Rule Id="CA1406" Action="None" />
    <Rule Id="CA1407" Action="None" />
    <Rule Id="CA1408" Action="None" />
    <Rule Id="CA1409" Action="None" />
    <Rule Id="CA1410" Action="None" />
    <Rule Id="CA1411" Action="None" />
    <Rule Id="CA1412" Action="None" />
    <Rule Id="CA1413" Action="None" />
    <Rule Id="CA1414" Action="None" />
    <Rule Id="CA1415" Action="None" />
    <Rule Id="CA1600" Action="None" />
    <Rule Id="CA1601" Action="None" />
    <Rule Id="CA1700" Action="None" />
    <Rule Id="CA1701" Action="None" />
    <Rule Id="CA1702" Action="None" />
    <Rule Id="CA1703" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1708" Action="None" />
    <Rule Id="CA1709" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1711" Action="None" />
    <Rule Id="CA1712" Action="None" />
    <Rule Id="CA1713" Action="None" />
    <Rule Id="CA1714" Action="None" />
    <Rule Id="CA1715" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1717" Action="None" />
    <Rule Id="CA1719" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1721" Action="None" />
    <Rule Id="CA1722" Action="None" />
    <Rule Id="CA1724" Action="None" />
    <Rule Id="CA1725" Action="None" />
    <Rule Id="CA1726" Action="None" />
    <Rule Id="CA1810" Action="None" />
    <Rule Id="CA1900" Action="None" />
    <Rule Id="CA1901" Action="None" />
    <Rule Id="CA1903" Action="None" />
    <Rule Id="CA2104" Action="None" />
    <Rule Id="CA2105" Action="None" />
    <Rule Id="CA2204" Action="None" />
    <Rule Id="CA2237" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26100" Action="None" />
    <Rule Id="C26101" Action="None" />
    <Rule Id="C26105" Action="None" />
    <Rule Id="C26110" Action="None" />
    <Rule Id="C26111" Action="None" />
    <Rule Id="C26112" Action="None" />
    <Rule Id="C26115" Action="None" />
    <Rule Id="C26116" Action="None" />
    <Rule Id="C26117" Action="None" />
    <Rule Id="C26130" Action="None" />
    <Rule Id="C26135" Action="None" />
    <Rule Id="C26140" Action="None" />
    <Rule Id="C26160" Action="None" />
    <Rule Id="C26165" Action="None" />
    <Rule Id="C26166" Action="None" />
    <Rule Id="C26167" Action="None" />
    <Rule Id="C28020" Action="None" />
    <Rule Id="C28021" Action="None" />
    <Rule Id="C28022" Action="None" />
    <Rule Id="C28023" Action="None" />
    <Rule Id="C28024" Action="None" />
    <Rule Id="C28039" Action="None" />
    <Rule Id="C28101" Action="None" />
    <Rule Id="C28103" Action="None" />
    <Rule Id="C28104" Action="None" />
    <Rule Id="C28105" Action="None" />
    <Rule Id="C28106" Action="None" />
    <Rule Id="C28107" Action="None" />
    <Rule Id="C28108" Action="None" />
    <Rule Id="C28109" Action="None" />
    <Rule Id="C28110" Action="None" />
    <Rule Id="C28111" Action="None" />
    <Rule Id="C28112" Action="None" />
    <Rule Id="C28113" Action="None" />
    <Rule Id="C28114" Action="None" />
    <Rule Id="C28120" Action="None" />
    <Rule Id="C28121" Action="None" />
    <Rule Id="C28122" Action="None" />
    <Rule Id="C28123" Action="None" />
    <Rule Id="C28124" Action="None" />
    <Rule Id="C28125" Action="None" />
    <Rule Id="C28126" Action="None" />
    <Rule Id="C28127" Action="None" />
    <Rule Id="C28128" Action="None" />
    <Rule Id="C28129" Action="None" />
    <Rule Id="C28131" Action="None" />
    <Rule Id="C28132" Action="None" />
    <Rule Id="C28133" Action="None" />
    <Rule Id="C28134" Action="None" />
    <Rule Id="C28135" Action="None" />
    <Rule Id="C28137" Action="None" />
    <Rule Id="C28138" Action="None" />
    <Rule Id="C28141" Action="None" />
    <Rule Id="C28143" Action="None" />
    <Rule Id="C28144" Action="None" />
    <Rule Id="C28145" Action="None" />
    <Rule Id="C28146" Action="None" />
    <Rule Id="C28147" Action="None" />
    <Rule Id="C28150" Action="None" />
    <Rule Id="C28151" Action="None" />
    <Rule Id="C28152" Action="None" />
    <Rule Id="C28153" Action="None" />
    <Rule Id="C28156" Action="None" />
    <Rule Id="C28157" Action="None" />
    <Rule Id="C28158" Action="None" />
    <Rule Id="C28159" Action="None" />
    <Rule Id="C28160" Action="None" />
    <Rule Id="C28161" Action="None" />
    <Rule Id="C28162" Action="None" />
    <Rule Id="C28163" Action="None" />
    <Rule Id="C28164" Action="None" />
    <Rule Id="C28165" Action="None" />
    <Rule Id="C28166" Action="None" />
    <Rule Id="C28167" Action="None" />
    <Rule Id="C28168" Action="None" />
    <Rule Id="C28169" Action="None" />
    <Rule Id="C28170" Action="None" />
    <Rule Id="C28171" Action="None" />
    <Rule Id="C28172" Action="None" />
    <Rule Id="C28173" Action="None" />
    <Rule Id="C28175" Action="None" />
    <Rule Id="C28176" Action="None" />
    <Rule Id="C28182" Action="None" />
    <Rule Id="C28183" Action="None" />
    <Rule Id="C28193" Action="None" />
    <Rule Id="C28194" Action="None" />
    <Rule Id="C28195" Action="None" />
    <Rule Id="C28196" Action="None" />
    <Rule Id="C28197" Action="None" />
    <Rule Id="C28198" Action="None" />
    <Rule Id="C28199" Action="None" />
    <Rule Id="C28202" Action="None" />
    <Rule Id="C28203" Action="None" />
    <Rule Id="C28204" Action="None" />
    <Rule Id="C28205" Action="None" />
    <Rule Id="C28206" Action="None" />
    <Rule Id="C28207" Action="None" />
    <Rule Id="C28208" Action="None" />
    <Rule Id="C28209" Action="None" />
    <Rule Id="C28210" Action="None" />
    <Rule Id="C28211" Action="None" />
    <Rule Id="C28212" Action="None" />
    <Rule Id="C28213" Action="None" />
    <Rule Id="C28214" Action="None" />
    <Rule Id="C28215" Action="None" />
    <Rule Id="C28216" Action="None" />
    <Rule Id="C28217" Action="None" />
    <Rule Id="C28218" Action="None" />
    <Rule Id="C28219" Action="None" />
    <Rule Id="C28220" Action="None" />
    <Rule Id="C28221" Action="None" />
    <Rule Id="C28222" Action="None" />
    <Rule Id="C28223" Action="None" />
    <Rule Id="C28224" Action="None" />
    <Rule Id="C28225" Action="None" />
    <Rule Id="C28226" Action="None" />
    <Rule Id="C28227" Action="None" />
    <Rule Id="C28228" Action="None" />
    <Rule Id="C28229" Action="None" />
    <Rule Id="C28230" Action="None" />
    <Rule Id="C28231" Action="None" />
    <Rule Id="C28232" Action="None" />
    <Rule Id="C28233" Action="None" />
    <Rule Id="C28234" Action="None" />
    <Rule Id="C28235" Action="None" />
    <Rule Id="C28236" Action="None" />
    <Rule Id="C28237" Action="None" />
    <Rule Id="C28238" Action="None" />
    <Rule Id="C28239" Action="None" />
    <Rule Id="C28240" Action="None" />
    <Rule Id="C28241" Action="None" />
    <Rule Id="C28243" Action="None" />
    <Rule Id="C28244" Action="None" />
    <Rule Id="C28245" Action="None" />
    <Rule Id="C28246" Action="None" />
    <Rule Id="C28250" Action="None" />
    <Rule Id="C28251" Action="None" />
    <Rule Id="C28252" Action="None" />
    <Rule Id="C28253" Action="None" />
    <Rule Id="C28254" Action="None" />
    <Rule Id="C28260" Action="None" />
    <Rule Id="C28262" Action="None" />
    <Rule Id="C28263" Action="None" />
    <Rule Id="C28266" Action="None" />
    <Rule Id="C28267" Action="None" />
    <Rule Id="C28272" Action="None" />
    <Rule Id="C28273" Action="None" />
    <Rule Id="C28275" Action="None" />
    <Rule Id="C28278" Action="None" />
    <Rule Id="C28279" Action="None" />
    <Rule Id="C28280" Action="None" />
    <Rule Id="C28282" Action="None" />
    <Rule Id="C28283" Action="None" />
    <Rule Id="C28284" Action="None" />
    <Rule Id="C28285" Action="None" />
    <Rule Id="C28286" Action="None" />
    <Rule Id="C28287" Action="None" />
    <Rule Id="C28288" Action="None" />
    <Rule Id="C28289" Action="None" />
    <Rule Id="C28290" Action="None" />
    <Rule Id="C28291" Action="None" />
    <Rule Id="C28300" Action="None" />
    <Rule Id="C28301" Action="None" />
    <Rule Id="C28302" Action="None" />
    <Rule Id="C28303" Action="None" />
    <Rule Id="C28304" Action="None" />
    <Rule Id="C28305" Action="None" />
    <Rule Id="C28306" Action="None" />
    <Rule Id="C28307" Action="None" />
    <Rule Id="C28308" Action="None" />
    <Rule Id="C28309" Action="None" />
    <Rule Id="C28350" Action="None" />
    <Rule Id="C28351" Action="None" />
    <Rule Id="C28601" Action="None" />
    <Rule Id="C28602" Action="None" />
    <Rule Id="C28604" Action="None" />
    <Rule Id="C28615" Action="None" />
    <Rule Id="C28616" Action="None" />
    <Rule Id="C28617" Action="None" />
    <Rule Id="C28623" Action="None" />
    <Rule Id="C28624" Action="None" />
    <Rule Id="C28625" Action="None" />
    <Rule Id="C28636" Action="None" />
    <Rule Id="C28637" Action="None" />
    <Rule Id="C28638" Action="None" />
    <Rule Id="C28639" Action="None" />
    <Rule Id="C28640" Action="None" />
    <Rule Id="C28645" Action="None" />
    <Rule Id="C28648" Action="None" />
    <Rule Id="C28649" Action="None" />
    <Rule Id="C28650" Action="None" />
    <Rule Id="C28714" Action="None" />
    <Rule Id="C28715" Action="None" />
    <Rule Id="C28716" Action="None" />
    <Rule Id="C28717" Action="None" />
    <Rule Id="C28719" Action="None" />
    <Rule Id="C28720" Action="None" />
    <Rule Id="C28721" Action="None" />
    <Rule Id="C28726" Action="None" />
    <Rule Id="C28727" Action="None" />
    <Rule Id="C28730" Action="None" />
    <Rule Id="C28735" Action="None" />
    <Rule Id="C28736" Action="None" />
    <Rule Id="C28750" Action="None" />
    <Rule Id="C28751" Action="None" />
    <Rule Id="C6001" Action="None" />
    <Rule Id="C6011" Action="None" />
    <Rule Id="C6014" Action="None" />
    <Rule Id="C6029" Action="None" />
    <Rule Id="C6031" Action="None" />
    <Rule Id="C6053" Action="None" />
    <Rule Id="C6054" Action="None" />
    <Rule Id="C6059" Action="None" />
    <Rule Id="C6063" Action="None" />
    <Rule Id="C6064" Action="None" />
    <Rule Id="C6066" Action="None" />
    <Rule Id="C6067" Action="None" />
    <Rule Id="C6101" Action="None" />
    <Rule Id="C6200" Action="None" />
    <Rule Id="C6201" Action="None" />
    <Rule Id="C6211" Action="None" />
    <Rule Id="C6214" Action="None" />
    <Rule Id="C6215" Action="None" />
    <Rule Id="C6216" Action="None" />
    <Rule Id="C6217" Action="None" />
    <Rule Id="C6219" Action="None" />
    <Rule Id="C6220" Action="None" />
    <Rule Id="C6221" Action="None" />
    <Rule Id="C6225" Action="None" />
    <Rule Id="C6226" Action="None" />
    <Rule Id="C6230" Action="None" />
    <Rule Id="C6235" Action="None" />
    <Rule Id="C6236" Action="None" />
    <Rule Id="C6237" Action="None" />
    <Rule Id="C6239" Action="None" />
    <Rule Id="C6240" Action="None" />
    <Rule Id="C6242" Action="None" />
    <Rule Id="C6244" Action="None" />
    <Rule Id="C6246" Action="None" />
    <Rule Id="C6248" Action="None" />
    <Rule Id="C6250" Action="None" />
    <Rule Id="C6255" Action="None" />
    <Rule Id="C6258" Action="None" />
    <Rule Id="C6259" Action="None" />
    <Rule Id="C6260" Action="None" />
    <Rule Id="C6262" Action="None" />
    <Rule Id="C6263" Action="None" />
    <Rule Id="C6268" Action="None" />
    <Rule Id="C6269" Action="None" />
    <Rule Id="C6270" Action="None" />
    <Rule Id="C6271" Action="None" />
    <Rule Id="C6272" Action="None" />
    <Rule Id="C6273" Action="None" />
    <Rule Id="C6274" Action="None" />
    <Rule Id="C6276" Action="None" />
    <Rule Id="C6277" Action="None" />
    <Rule Id="C6278" Action="None" />
    <Rule Id="C6279" Action="None" />
    <Rule Id="C6280" Action="None" />
    <Rule Id="C6281" Action="None" />
    <Rule Id="C6282" Action="None" />
    <Rule Id="C6283" Action="None" />
    <Rule Id="C6284" Action="None" />
    <Rule Id="C6285" Action="None" />
    <Rule Id="C6286" Action="None" />
    <Rule Id="C6287" Action="None" />
    <Rule Id="C6288" Action="None" />
    <Rule Id="C6289" Action="None" />
    <Rule Id="C6290" Action="None" />
    <Rule Id="C6291" Action="None" />
    <Rule Id="C6292" Action="None" />
    <Rule Id="C6293" Action="None" />
    <Rule Id="C6294" Action="None" />
    <Rule Id="C6295" Action="None" />
    <Rule Id="C6296" Action="None" />
    <Rule Id="C6297" Action="None" />
    <Rule Id="C6298" Action="None" />
    <Rule Id="C6299" Action="None" />
    <Rule Id="C6302" Action="None" />
    <Rule Id="C6303" Action="None" />
    <Rule Id="C6305" Action="None" />
    <Rule Id="C6306" Action="None" />
    <Rule Id="C6308" Action="None" />
    <Rule Id="C6310" Action="None" />
    <Rule Id="C6312" Action="None" />
    <Rule Id="C6313" Action="None" />
    <Rule Id="C6314" Action="None" />
    <Rule Id="C6315" Action="None" />
    <Rule Id="C6316" Action="None" />
    <Rule Id="C6317" Action="None" />
    <Rule Id="C6318" Action="None" />
    <Rule Id="C6319" Action="None" />
    <Rule Id="C6320" Action="None" />
    <Rule Id="C6322" Action="None" />
    <Rule Id="C6323" Action="None" />
    <Rule Id="C6324" Action="None" />
    <Rule Id="C6326" Action="None" />
    <Rule Id="C6328" Action="None" />
    <Rule Id="C6329" Action="None" />
    <Rule Id="C6330" Action="None" />
    <Rule Id="C6331" Action="None" />
    <Rule Id="C6332" Action="None" />
    <Rule Id="C6333" Action="None" />
    <Rule Id="C6334" Action="None" />
    <Rule Id="C6335" Action="None" />
    <Rule Id="C6336" Action="None" />
    <Rule Id="C6340" Action="None" />
    <Rule Id="C6381" Action="None" />
    <Rule Id="C6383" Action="None" />
    <Rule Id="C6384" Action="None" />
    <Rule Id="C6385" Action="None" />
    <Rule Id="C6386" Action="None" />
    <Rule Id="C6387" Action="None" />
    <Rule Id="C6388" Action="None" />
    <Rule Id="C6400" Action="None" />
    <Rule Id="C6401" Action="None" />
    <Rule Id="C6411" Action="None" />
    <Rule Id="C6412" Action="None" />
    <Rule Id="C6500" Action="None" />
    <Rule Id="C6501" Action="None" />
    <Rule Id="C6503" Action="None" />
    <Rule Id="C6504" Action="None" />
    <Rule Id="C6505" Action="None" />
    <Rule Id="C6506" Action="None" />
    <Rule Id="C6508" Action="None" />
    <Rule Id="C6509" Action="None" />
    <Rule Id="C6510" Action="None" />
    <Rule Id="C6511" Action="None" />
    <Rule Id="C6513" Action="None" />
    <Rule Id="C6514" Action="None" />
    <Rule Id="C6515" Action="None" />
    <Rule Id="C6516" Action="None" />
    <Rule Id="C6517" Action="None" />
    <Rule Id="C6518" Action="None" />
    <Rule Id="C6522" Action="None" />
    <Rule Id="C6525" Action="None" />
    <Rule Id="C6527" Action="None" />
    <Rule Id="C6530" Action="None" />
    <Rule Id="C6540" Action="None" />
    <Rule Id="C6551" Action="None" />
    <Rule Id="C6552" Action="None" />
    <Rule Id="C6701" Action="None" />
    <Rule Id="C6702" Action="None" />
    <Rule Id="C6703" Action="None" />
    <Rule Id="C6704" Action="None" />
    <Rule Id="C6705" Action="None" />
    <Rule Id="C6706" Action="None" />
    <Rule Id="C6707" Action="None" />
    <Rule Id="C6993" Action="None" />
    <Rule Id="C6995" Action="None" />
    <Rule Id="C6997" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS8019" Action="Warning" />
    <Rule Id="CS8020" Action="Warning" />
    <Rule Id="CS8040" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="Warning" />
    <Rule Id="IDE0002" Action="Warning" />
    <Rule Id="IDE0003" Action="Warning" />
    <Rule Id="IDE0004" Action="Warning" />
    <Rule Id="IDE0005" Action="Warning" />
  </Rules>
</RuleSet>