# Java
hs_err_pid*
zookeeper-server/version-2/*

# Git
*.orij
*.rej

# SVN
.svn
.revision

# Eclipse
.metadata
.classpath
.eclipse/
.idea/
.project
.revision/
.settings/
.externalToolBuilders/
local.properties
.recommenders
*.launch
build/
target/
out/

# Intellij
*.ipr
*.iws
*.iml

# NetBeans
*~.nib
nbbuild/
nbproject/
dist/
nbdist/
.ndb-gradle/
.cproject
.buildpath
nb-configuration.xml
nbactions.xml

# vscode
classes
.vscode

# Other
*~
logs/
*.out
*.log
*.bak
*.tmp
tmp/**
tmp/**/*
.DS_Store
.gradle
*.patch
*.swp
.ant-targets-build.xml

# C
tags
.cproject
.project
obj
zookeeper-server/src/main/resources/lib/ant-eclipse-*
zookeeper-server/src/main/resources/lib/ivy-*

zookeeper-client-c/Makefile.in
zookeeper-client-c/aclocal.m4
zookeeper-client-c/autom4te.cache/
zookeeper-client-c/compile
zookeeper-client-c/config.guess
zookeeper-client-c/config.h.in
zookeeper-client-c/config.sub
zookeeper-client-c/configure
zookeeper-client-c/depcomp
zookeeper-client-c/install-sh
zookeeper-client-c/ltmain.sh
zookeeper-client-c/missing
zookeeper-client-c/.deps/
zookeeper-client-c/.libs/
zookeeper-client-c/Makefile
zookeeper-client-c/cli_mt
zookeeper-client-c/cli_st
zookeeper-client-c/config.h
zookeeper-client-c/config.status
zookeeper-client-c/libtool
zookeeper-client-c/load_gen
zookeeper-client-c/stamp-h1
zookeeper-client-c/build
zookeeper-client-c/core.*
zookeeper-client-c/TEST-*.txt
zookeeper-client-c/*.la
zookeeper-client-c/*.lo
zookeeper-client-c/*.o
zookeeper-client-c/generated/

# Old c client files
zookeeper-client/zookeeper-client-c

# Python
*.py[cod]
