build
out
.idea
.revision
src/c/generated
src/java/.idea
src/java/out
src/java/generated
src/java/*.iml
src/java/lib/ivy-*.jar
src/dotnet/generated
src/dotnet/SharpKeeper/Generated/*.cs
src/dotnet/SharpKeeper/_Reshaper
src/dotnet/SharpKeeper/bin
src/dotnet/SharpKeeper/obj
