<?xml version="1.0" encoding="UTF-8" ?>
<!-- All loggers are Async if -DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector 
  if is set -->
<Configuration status="warn" strict="true">
  <Properties>
    <Property name="layoutPattern">%d{ISO8601} - %-5p [%t:%C{1}@%L] - %m%n</Property>
    <Property name="console.log.threshold">TRACE</Property>
  </Properties>
  
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="${sys:layoutPattern}" />
      <ThresholdFilter level="${sys:console.log.threshold}" onMatch="ACCEPT" onMismatch="DENY" />
    </Console>
  </Appenders>
  
  <Loggers>
    <Root level="TRACE">
      <AppenderRef ref="STDOUT" />
    </Root>

    <Logger name="org.apache.zookeeper.graph.LogSkipList" additivity="false" level="OFF">
      <AppenderRef ref="STDOUT" />
    </Logger>

    <Logger name="org.apache.zookeeper.graph.RandomAccessFileReader" additivity="false" level="OFF">
      <AppenderRef ref="STDOUT" />
    </Logger>
  </Loggers>

</Configuration>

