/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import "tailwindcss";
@import "tw-animate-css";
@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-ui/css/preset.css";

@plugin "@tailwindcss/typography" {
  className: prose-original;
}

@custom-variant dark (&:is(.dark *));
@custom-variant js (&:is(.js *));

/* Inter — normal axis */
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-latin-wght-normal.woff2") format("woff2");
  font-weight: 100 900; /* adjust if your file isn't variable */
  font-style: normal;
  font-display: swap;
}

/* Inter — italic axis */
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-latin-wght-italic.woff2") format("woff2");
  font-weight: 100 900; /* adjust if needed */
  font-style: italic;
  font-display: swap;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(55.31% 0.12 136.93);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.17 0 0);
  --foreground: oklch(0.92 0 0);
  --card: oklch(0.2 0 0);
  --card-foreground: oklch(0.92 0 0);
  --popover: oklch(0.2 0 0);
  --popover-foreground: oklch(0.92 0 0);
  --primary: oklch(55.31% 0.12 136.93);
  --primary-strong: oklch(0.40 0.13 145);
  --primary-foreground: oklch(97% 0 0);
  --secondary: oklch(0.25 0 0);
  --secondary-foreground: oklch(0.92 0 0);
  --muted: oklch(0.25 0 0);
  --muted-foreground: oklch(0.62 0 0);
  --accent: oklch(0.25 0 0);
  --accent-foreground: oklch(0.92 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.3 0 0);
  --input: oklch(0.3 0 0);
  --ring: oklch(55.31% 0.12 136.93);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.2 0 0);
  --sidebar-foreground: oklch(0.92 0 0);
  --sidebar-primary: oklch(55.31% 0.12 136.93);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: oklch(0.25 0 0);
  --sidebar-accent-foreground: oklch(0.92 0 0);
  --sidebar-border: oklch(0.3 0 0);
  --sidebar-ring: oklch(55.31% 0.12 136.93);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-strong: var(--primary-strong);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  .font-base {
    font-family: "Inter", sans-serif;
    font-synthesis: none;
  }

  .print-only {
    display: none;
  }
}

@layer utilities {
  @media (width >= 80rem) {
    .container {
      @apply max-w-6xl;
    }
  }
}

/* For rendering a PDF */
@media print {
  @page {
    size: A4;
  }

  /* Utility classes */
  .print-only {
    display: block !important;
  }
  .no-print {
    display: none !important;
  }

  /* Hide layout elements */
  #nd-docs-layout {
    --fd-sidebar-width: 0px !important;
  }
  #nd-sidebar {
    display: none;
  }
  header {
    display: none !important;
  }
  /* Hide copy button in the code blocks */
  figure > div > button {
    display: none !important;
  }

  /* Every major section starts on a new page */
  h1:not(:first-of-type) {
    break-before: page;
    margin-top: 0; /* Remove top margin since it's at the top of a page now */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-after: avoid;
    break-inside: avoid;
  }

  /* Hides the <hr> line */
  hr {
    display: none;
  }

  /* Force tables to wrap the content */
  table {
    max-width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
  }
  th,
  td {
    padding: 6px 10px !important;
    word-break: break-all; /* Older browsers */
    overflow-wrap: anywhere; /* Modern browsers: breaks at any character */
    hyphens: auto; /* Adds a hyphen if the language is defined */
  }
  thead {
    display: table-header-group; /* Re-renders header on every new page */
  }
  /* Don't split a row on two pages, just move it to the next page */
  tr {
    break-inside: avoid;
  }

  /* Force code blocks to wrap instead of scroll */
  pre,
  code {
    max-width: 100% !important;
    white-space: pre-wrap !important;
    word-break: break-all !important;
    overflow-wrap: break-word !important;
  }

  /* Targets Code and Tables */
  pre,
  table,
  blockquote {
    /* Try to keep it on one page if possible */
    break-inside: auto;
    /* If it breaks, ensure at least 3 lines stay on the current page */
    orphans: 3;
    /* If it breaks, ensure at least 3 lines move to the next page */
    widows: 3;
  }

  /* Remove the height restriction and scrolling from the code blocks */
  figure .fd-scroll-container.max-h-\[600px\] {
    max-height: none !important;
    overflow: visible !important;
    height: auto !important;
    display: block !important;
  }
}
